setuptools>=65.5.1
pre-commit==2.15.0

# `CompilationException` is no longer implemented from dbt-core==1.4.0.
# So we have to use dbt-core 1.3 or less, until the subsequent fix is released.
# SEE https://github.com/sqlfluff/sqlfluff/pull/4317
dbt-core<1.4

# sqlfluff
sqlfluff==${SQLFLUFF_VERSION}
sqlfluff-templater-dbt==${SQLFLUFF_VERSION}

pytz>=2015.7
