setuptools>=65.5.1
pre-commit>=2.0,<3.0

# sqlfluff
sqlfluff==${SQLFLUFF_VERSION}
sqlfluff-templater-dbt==${SQLFLUFF_VERSION}
dbt-core==1.3.6
python==3.9.15
snowflake-connector-python==2.7.12
pytz>=2015.7
