name: Generate contributors list

on:
  push:
    branches:
      - main

jobs:
  # SEE https://github.com/marketplace/actions/contribute-list
  contrib-readme-job:
    runs-on: ubuntu-latest
    name: A job to automate contrib in readme
    steps:
      - name: Contribute List
        uses: akhilmhdh/contributors-readme-action@v2.3.10
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
